
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>ByteMe</title>
  <link rel="stylesheet" href="../static/css/summarization.css?q=1280549780">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<body>

   <div class="search">
    <h1 id="title">Too lazy to read? I got you.</h1>
    <form method="post" id="submit_form" >
      <input type="text" id="url" name="url" placeholder="Paste Privacy Policy Link">
      <input type="submit" id="submit_button">
     </form>
   </div>

<div id="text">
  <p id="result">
    {{ txt }}
  </p>
</div>
  
</body>



</html>