
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>ByteMe</title>
  <link rel="stylesheet" href="../static/css/topic_modeling.css?q=1280549780">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<body>

   <div class="search">
    <h1 id="title">Want to know what these companies are talking about in their policies?</h1>
    <form method="post" id="submit_form" >
      <input type="text" id="url" name="url" placeholder="How many topics do you want us to classify? :)">
      <input type="submit" id="submit_button">
     </form>
   </div>

<div id="text">
  {% if not first_visit %}
  <p id="result">
    <img id="result" src="data:image/png;base64, {{ plot_url }}">
  </p>
  {% endif %}
</div>
  
</body>



</html>